exportPattern(
  'cwtft',
  'localMax',
  'localMin',
  'ridgesDetection',
  "peaksPosition",
  'getSignal',
  'getNoise',
  'peakDetection',
  'isIsolated',
  'isSignificant',
  'MAPD')
importFrom(Rcpp, evalCpp)
useDynLib(MAPD, .registration = TRUE)
