exportPattern(
  'cwtft',
  'localMax',
  'localMin',
  'ridgesDetection',
  "peaksPosition",
  'getSignal',
  'getNoise',
  'peakDetection',
  'isIsolated',
  'isSignificant',
  'WMPD')
importFrom(Rcpp, evalCpp)
useDynLib(WMPD, .registration = TRUE)
